@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  /*------ storing color variables*/

  --primary-color: #f7f6fb;
  --secondary-color: #343d68;
  --secondary-color-hover: #343d68ad;
  --tertiary-color: #e84949;
  --tex-color: #818080;
}
body {
  background-color: var(--primary-color);
}

/*------------- Navbar section Start -------------*/

#navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  position: fixed;
  width: 100%;
  top: 0;
}
.menus ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.menus ul li:hover {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 600;
  transition: 0.5s;
}

.menus button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}
.menus button:hover {
  background-color: var(--secondary-color-hover);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

/*------------- Hero section Start -------------*/
#heroPage {
  margin: 0% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.heroText {
  width: 450px;
}
.heroText p {
  margin: 4% 0px;
}
.heroText h2,
h4 {
  color: var(--secondary-color);
}

.heroText button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.heroText button:hover {
  background-color: var(--secondary-color-hover);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

/*------------- Experience section Start -------------*/

#experience {
  margin: 0% 5%;
}
#experience h2 {
  text-align: center;
  color: var(--secondary-color);
}
.ExperienceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 13%;
  align-items: center;
}
.ExperienceContainer p {
  color: var(--tex-color);
  width: 550px;
}

.ExperienceContainer .secondParagraph {
  margin-top: 20px;
}

.iconsWrapper {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  padding: 20px;
}
span i {
  font-size: 1.5rem;
}

.Statistics-Item-Container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ExperienceStatistics {
  display: flex;
  justify-content: center;
  gap: 10%;
}


